.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #292524;
  font-family: Arial, sans-serif;
  color: white;
  /* Add text color */
}

.addTask {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.addTask input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: bold;
  background-color: white;
  /* Change input background color */
  color: #292524;
  /* Change input text color */
}

.addTask button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
}

.list>div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  color: #292524;
  /* Add text color */
}

.list h1 {
  margin: 0;
  margin-right: 10px;
  font-size: 18px;
  flex-grow: 1;
  /* Allow task name to expand */
}

.list button {
  margin-left: 8px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.list button:hover {
  background-color: #c82333;
}

.task button.complete {
  background-color: #28a746;
}

.task button.complete:hover {
  background-color: #218838;
}